@def COLOR_PRIMARY #EF5350;
@def COLOR_SECONDARY #EF9A9A;

@def COLOR_TEXT #000000;
@def COLOR_BORDER #000000;

@def COLOR_SUCCESS #00C853;
@def COLOR_WARNING #EEFF41;
@def COLOR_ERROR #D50000;

/**** shades ****/
@def GRAY_1 #F5F5F5;
@def GRAY_2 #EEEEEE;
@def GRAY_3 #E0E0E0;
@def GRAY_4 #BDBDBD;
@def GRAY_5 #9E9E9E;
@def GRAY_6 #757575;
@def GRAY_7 #616161;
@def GRAY_8 #424242;
@def GRAY_9 #212121;
@def GRAY_10 #FAFAFA;

@def BLACK #1d1d21;
@def WHITE #f9f9f9;

/*** font ***/
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src:
         url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
 }

/*** color ***/
@def COLOR_BLUE #26a69a;
@def COLOR_YELLOW #FDD835;


body {
    font-family: 'Noto Sans JP';
}

span{
    color: COLOR_TEXT;
}

a {
    color: GRAY_10;
    text-decoration: underline;
}

a:visited {
    color: GRAY_1;
    text-decoration: underline;
}


h1 {
    font-size: 15px;
    border-bottom: solid COLOR_BORDER 1px;
}


div.search_result b{
    background: COLOR_YELLOW;
}

