block content

    style.
        #notfound {
            height: 300px;
            width: 1000px;
            background: white;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        #notfound b {
            font-family: 'Noto Sans JP', sans-serif;
            color: #888;
            font-size: 50px;
        }

    #notfound
        b Error 404
