doctype html
html(lang="ja")

  meta(charset="utf-8")
  title
  link(href="/css/all.css" rel="stylesheet" type="text/css")

  script(type="text/javascript" src="//cdn.jsdelivr.net/instantclick/3.1.0/instantclick.js" data-no-instant)

  //- link(href="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-center-circle.min.css" rel="stylesheet" type="text/css")
  //- script(src="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js")

  block content